<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="voicesearch" translate="label" type="text" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="50">
            <class>separator-top</class>
            <label>Voice Search</label>
            <tab>mgs</tab>
            <resource>MGS_VoiceSearch::configuration</resource>
            <group id="general" translate="label" type="text"  sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Voice Search Settings</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
