<div class="posts posts-list" data-bind="visible: isVisible()">
    <div class="title">
        <!-- ko i18n: 'Blogs'--><!-- /ko -->
        <a class="see-all" data-bind="attr: {href: result.blog.url}">
            <!-- ko i18n: 'See All' --><!-- /ko -->
            (<span data-bind="text: result.blog.size"></span>)
        </a>
    </div>
    <ul class="posts list items post-items" role="listbox" data-bind="foreach: result.blog.data">
        <li class="item post post-item">
            <div class="post-item-info">
            	<div class="post photo post-item-photo" data-bind="visible: thumbnail">
                    <a data-bind="attr: { href: url, title: name }">
                        <img data-bind="attr: { src: thumbnail, title: name }" />
                    </a>
                </div>
                <div class="post details post-item-details">
                    <div class="post name post-item-name" data-bind="visible: name">
                        <a class="post-item-link" data-bind="attr: { href: url, title: name }, text: name"></a>
                    </div>
                    <div class="post name post-item-shortdescription" data-bind="html: short_content, visible: short_content"></div>
                </div>
            </div>
        </li>
    </ul>
</div>