<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <lookbook>
			<general>
				<min_image_width>300</min_image_width>
                <min_image_height>400</min_image_height>
                <max_image_width>1360</max_image_width>
                <max_image_height>1360</max_image_height>
                <max_upload_filesize>2097152</max_upload_filesize>
                <allowed_extensions>jpg,jpeg,png,gif</allowed_extensions>      
                <pin_width>40</pin_width>      
                <pin_height>40</pin_height>      
                <pin_default>+</pin_default>      
                <pin_background>65affa</pin_background>      
                <pin_text>ffffff</pin_text>      
                <popup_image_width>230</popup_image_width>      
                <popup_image_height>290</popup_image_height>    
			</general>
			<slider>
                <navigation>1</navigation>   
                <auto_play>1</auto_play>   
                <auto_play_timeout>5000</auto_play_timeout>   
                <stop_auto>1</stop_auto>   
                <loop>1</loop>   
                <next_image><![CDATA[<i class="pe-7s-angle-right"></i>]]></next_image>   
                <prev_image><![CDATA[<i class="pe-7s-angle-left"></i>]]></prev_image>   
            </slider>
        </lookbook>
    </default>
</config>
