<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

	<preference for="Magento\Catalog\Block\Product\View\Gallery" type="MGS\ClaueTheme\Block\Catalog\Product\View\Gallery" />
    
    <preference for="Magento\ConfigurableProduct\Helper\Data" type="MGS\ClaueTheme\Helper\ConfigurableProduct\Data" />
    
    <preference for="Magento\Swatches\Block\Product\Renderer\Configurable" type="MGS\ClaueTheme\Block\Product\Renderer\Configurable" />
    
    <preference for="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable" 
                type="MGS\ClaueTheme\Block\Product\View\Type\Configurable" />
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
       <arguments>
           <argument name="modifiers" xsi:type="array">
               <item name="attachment" xsi:type="array">
                   <item name="class" xsi:type="string">MGS\ClaueTheme\Ui\DataProvider\Product\Form\Modifier\File</item>
                   <item name="sortOrder" xsi:type="number">1000</item>
               </item>
           </argument>
       </arguments>
   </virtualType>           
</config>