<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="MGS\InstantSearch\Model\SearchFactory">
        <arguments>
            <argument name="map" xsi:type="array">
                <item name="product" xsi:type="string">MGS\InstantSearch\Model\Search\Product</item>
                <item name="category" xsi:type="string">MGS\InstantSearch\Model\Search\Category</item>
                <item name="page" xsi:type="string">MGS\InstantSearch\Model\Search\Cms\Page</item>
                <item name="blog" xsi:type="string">MGS\InstantSearch\Model\Search\Blog</item>
            </argument>
        </arguments>
    </type>
</config>
